<title>The Blog</title>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body style = "background:#7BF7B7">
  <h1><center>WELCOME</center></h1>
  <center><table class="pure-table pure-table-bordered">
      <th>""</th>
      <tr>
      {% for each in sqlite %}
      <td>"{{each}}"</td>
      {% endfor %}
      </tr>
  </table></center>
  <form method = "POST">
    <input type="text" name="name" value="name">
    <input type="text" name="post"> 
  </form>
</body>
